
@{
    ViewBag.Title = "StartTest";
}

<h2>Начать тест</h2>

<p>Тест состоит из 5 вопросов с 3 вариантами, ответа. Из них только 1 верный. Вопрос можно пропустить и ответить на него позднее</p>

@using (Html.BeginForm("StartTestAsync", "Home", FormMethod.Post))
{
    <input type="hidden" id="startedAt"/>
    <input type="submit" class="btn btn-warning" value="Начать тест" id="startBtn"/>
}

